html,body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 200px;
    height: 100%;
    background-color: blue;
    display: block;
    /* display: flex;
    flex-direction: column; */
    position: fixed;
}
/* .navbar{
    position: relative;
} */
ul{
    padding: 20px 5px;
}
.fa{
    color: rgb(207, 200, 200);;
    margin: 10px;
}
button{
    background-color: unset;
    border: unset;
    color: rgb(207, 200, 200);
    width: 170px;
}
a{
    color: rgb(207, 200, 200);;
    text-decoration: none;
    margin: 10px 0;
    padding-left:10px ;
    display: block;
}
.admin{
    padding: 20px auto;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.icon{
    margin: 5px;
}
h4{
    text-align: start;
    padding-left: 20px ;
    font-size: 10px;
    color: rgb(161, 161, 161);
}
button:focus{
    border: none;
    outline: none;
}
button{
    text-align: start;
}
button:hover{
    cursor: pointer;
}

div ul a{
    font-size: 10px;
    color: rgb(207, 200, 200);;
    padding: 0;
}
.gach{
    display: block;
    height: 1px;
    width: 150px;
    background-color: rgb(207, 200, 200);
    margin:  0 auto;
}
i.fa-angle-right{
    float: right;
    display: block;
}
i.fa-angle-down{
    float: right;
    display: none;
}
i.fa-cog ,i.fa-wrench , i.fa-folder{
    float: left;
}
i.fa-cog::before ,i.fa-wrench::before , i.fa-folder::before{
    padding-right: 10px;
}

button:hover, button:hover i,a:hover{
    color: white;
}
.drolist{
    /* position: relative; */
    display: inline-block;
}
.drocontain{
    /* position: absolute; */
    display: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    width: 85%;
}
/* .active {
    background-color: green;
    color: white;
} */
.drocontain>a{
    display: block;
    color: black;
    padding-left: 20px ;
    font-size: 15px;
}
.opennavdiv{
    position: fixed;
    top: 50%;
    left: 20px;
    display: none;
    z-index: 5;
    width: 30px;
    height: 30px;
}
.closenavdiv{
    display: block;
}
.closenav{
    margin: 20px auto;
}

i.aaa{
    float: none;
}
.opennav , .closenav{
    height: 30px;
    width: 30px;
    border: 1px solid rgb(20, 19, 19);
    background-color: rgba(190, 184, 184, 0.247);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
